<HTML>
<HEAD><meta http-equiv='Content-Type' content='text/html; charset=gb2312'>
<LINK href="cmfu.css" type=text/css rel=stylesheet>
<script language=javascript src='../js/page.js'></script>
<BODY bgColor=#e7f4fe leftMargin=5 topMargin=5>
<TABLE cellSpacing=0 cellPadding=0 width="100%" background=rt2.gif border=0 valign="top">
  <TBODY>
  <TR>
    <TD width=238><IMG src="rt1.gif"></TD>
    <TD class=zt align=right>
      <A href=javascript:loadurl("readall.htm")><IMG src="bt2.gif" border=0></A>&nbsp;
      <IMG alt=加入书架 src="bt3.gif" border=0></A>&nbsp;
      <IMG alt=推荐本书 src="bt4.gif" border=0></A>&nbsp;
      <IMG alt=打开藏书架 src="bt6.gif" border=0></A>&nbsp;
      <a href="../start.htm"><IMG src="bt5.gif" border=0></a></A>&nbsp;&nbsp;    </TD>
  </TR></TBODY></TABLE><BR>
<TABLE cellSpacing=0 cellPadding=0 width="98%" align=center border=0 valign="top">
  <TBODY>
  <TR>
    <TD style="FONT-SIZE: 18.5pt; COLOR: #ff6666; FONT-FAMILY: 隶书" vAlign=top align=middle width="100%"><B>{书名}</B></TD>
  </TR></TBODY></TABLE><BR>
<TABLE cellSpacing=0 cellPadding=0 width="98%" align=center border=0 valign="top">
  <TBODY>
  <TR>
    <TD width="4%"></TD>
    <TD class=zt align=left width="46%">&nbsp;&nbsp;作者：{作者}</TD>
    <TD class=zt align=right width="46%"><script language=javascript src='../js/mb.js'></script>&nbsp;&nbsp;</TD>
    <TD width="4%"></TD></TR>
  <TR>
    <TD width="4%"></TD>
    <TD width="92%" colSpan=2>
      <TABLE cellSpacing=0 borderColorDark=#ccffcc cellPadding=0 width="100%" align=center borderColorLight=#cccccc border=1 valign="top">
        <TBODY>
<script language=javascript src=qqzhal.js></script></TBODY></TABLE></TD>
    <TD width="4%"></TD></TR></TBODY></TABLE><BR><BR>
<DIV class=zt style="FONT-SIZE: 9pt; COLOR: #ff6666" 
align=center>感谢作者授权发布&nbsp;&nbsp;共同保护作者权益<BR><BR></DIV></BODY></HTML>
