<HTML><HEAD><link href="js/style.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</HEAD>
<BODY oncontextmenu="window.event.returnValue=false" bgproperties="fixed" bgcolor="#e4ebf1">
<center>
<script language=javascript src='../js/page.js'></script><BR>
  <table width="95%" height="22" border="0" cellpadding="0" cellspacing="0" id=bookT background=images/topbg.gif>
      <tr>
        <td width="75%">&nbsp;<font color=#0066AA><b><a href={链接} target="_blank">{版权}</a></b></font>『<font color=#0066AA><b>{书名}</b></font>』 作者：<font color=#0066AA><b>{作者}</b></font></td>
        <td align="right"><!--<a href=javascript:loadurl("readall.htm")>全文阅读</a>&nbsp;--></td>
      </tr>
  </table>
  <table width="95%">
      <tr>
        <span><td width="2%"></td></span>
        <td width="100%" align=right><font size=2><span style="color:#000000;font-size:12px;">制作：<font color=#0066AA><b>{制作}</b></font></span><script language=javascript src='../js/mb.js'></script></td>
      </tr>
  </table>
  <table width="95%" border=1 borderColor=#5182c2 cellpadding="0" cellspacing="0" bgcolor="ffffff" style='border-collapse: collapse;'>
<script language=javascript src=js/qqzhal.js></script>
  </TABLE>
  <BR><BR>
</center><BR></BODY></HTML>